@model SRV.ViewModel.RegisterModel
@{
    //ViewBag.Title = "注册";
    Layout = "~/Views/Shared/_Dual_551.cshtml";
    ViewData["Title"] = "注册";
}

@Html.Partial("_User")
@using (Html.BeginForm())
{
    <section style="padding:10px;border:2px dashed #f1f1f1;background-color:lightyellow;border-radius: 5px;margin-bottom:20px;">
        <div class="text-right" style="padding-bottom:15px;"><a><i class="fa fa-question-circle"></i>为什么需要邀请</a></div>
        <div class="form-group">
            <label for="exampleInputEmail1">邀请人：（* 必填，<a href="#">没有邀请人</a>） </label>
            @Html.TextBoxFor(m=>m.InviterName, new { type = "text", @class = "form-control" })
            @Html.ValidationMessageFor(m =>m.InviterName)
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">邀请码：（* 必填） </label>
            @Html.TextBoxFor(m => m.InviterNumber, new { type = "text", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.InviterNumber)
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">用户名：（* 必填） </label>
          
            @Html.TextBoxFor(m => m.Name, new { type = "text", @class = "form-control" ,zl_name=string.Empty})
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">密码：（* 必填） </label>
            @Html.TextBoxFor(m => m.Password, new { type = "password", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">确认密码：（* 必填） </label>
            @Html.TextBoxFor(m=>m.ComfirmPassword, new { type = "password", @class = "form-control" })
            @Html.ValidationMessageFor(m=>m.ComfirmPassword)
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">验证码：（* 必填） </label>
            <input type="text" class="form-control" style="width:100px" asp-for="VerifyCode">
            <span asp-validation-for="VerifyCode"></span>
            <span style="display:inline-block">点击输入框显示</span>
        </div>

        <button class="btn btn-primary" type="submit">提交</button>
        <button class="btn btn-light" type="reset">重置</button>
        <a href="logon.html" class=" btn float-right text-primary"><i class="fa fa-sign-in" aria-hidden="true"></i>登录</a>
    </section>

}
<!--<form method="post" class="">-->
@*<div class="form-group">
        <label for="exampleInputEmail1">个人主页：（* 必填） </label>
        <input type="text" class="form-control" asp-for="HomeUrl">
        <span asp-validation-for="HomeUrl"></span>
    </div>*@


<!--</form>-->
@section Description{
    <ol>
        <li>我们希望通过<a>一起帮</a>，能<span class="text-bold">直接解决</span>大家在<span class="text-primary">电脑操作/软件使用/编程学习</span>等方面的<span class="text-bold">具体问题</span>。</li>
        <li>现在的互联网远程技术<span class="text-muted">(比如QQ桌面共享)</span>已经非常成熟，当我们再遇到上述问题，如果别人能<span class="text-primary">直接远程给予帮助</span>，岂不是好？</li>
        <li>当然，你也可以在你熟悉的领域去<span class="text-primary">帮助别人</span>。由此而形成我们这个"你帮他他帮我我帮你，大家一起帮"的网上互助社区平台。</li>
        <li>公平起见，我们还引入帮帮<span class="dot">点/</span><span class="money">币</span><span class="bean">豆/</span>三级概念，以衡量社区成员的收获和贡献。</li>
        <li>赶快加入我们，赚取帮帮币吧!</li>
        <li><a href="about/us"><i class="fa fa-hand-o-right" aria-hidden="true"></i>了解更多</a></li>
    </ol>
}

