@model SRV.ViewModel.Article.SingleModel
@{
    ViewBag.Title = "Single";
    Layout = "~/Views/Shared/_Dual_93.cshtml";
}
<header>
    <img src="~/images/adv.jpg" style="margin-bottom:20px;" />
    <h4 style="color:cornflowerblue"><a href="/Firsthtml.html">@Model.Title</a></h4>
</header>
<hr>
<i class="fa fa-calendar" aria-hidden="true"></i><small class="text-secondary"> @Model.PublishTime</small>
<span style="float:right">@Model.AuthorName<a href="#">Model.Article.Author.Name</a></span>
<article>
    @Model.Body
</article>
<span style="top:60px;" class="visible-xs-inline visible-sm-inline flag">
    <a zyf-show-widget="">
        <span class="fa fa-window-restore"></span> 更多
    </a>
</span>


<div>
  
   
    <div class="clearfix" style="padding-top:10px;">
        <span class="font-weight-bold"><i class="fa fa-tags"></i>关键字：</span>





        @*@for (int i = 0; i < Model.KeyWord.Count; i++)
        {
            <span class="badge badge-pill badge-secondary">@Model.KeyWord[i]</span>
        }*@

    </div>
        <div class="article-appraise appraise-status pull-right">
            <a class="appraise-status-item text-success" href="/Article/Appraise?id=489&amp;direction=1" zyf-vote="" data-author-id="1">
                <span class="fa fa-thumbs-o-up"></span>
                <span class="visible-sm-inline visible-md-inline visible-lg-inline">赞：</span>
                <span zyf-votes-count="">19</span>
            </a>
            <a class="appraise-status-item text-muted" href="/Article/Appraise?id=489&amp;direction=-1" zyf-vote="" data-author-id="1">
                <span class="fa fa-thumbs-o-down"></span>
                <span class="visible-sm-inline visible-md-inline visible-lg-inline">踩：</span>
                <span zyf-votes-count="">0</span>
            </a>

        </div>
        <div zyf-article-donate-container="" style="padding-bottom:25px;">
            <div style="clear:both;margin-left:auto;margin-right:auto;width:65px;height:65px;">
                <div zyf-article-donate-btn="" data-author-id="1" data-article-id="489" class="yellow-highlight text-center" data-toggle="tooltip" title="" data-original-title="点击打赏">
                    <span class="iconfont icon-money credit fa-2x"></span><br>打赏
                </div>
            </div>
            <div class="article-donate">
                <span class="fa fa-smile-o fa-2x text-success pull-left" style="display:table-cell;"></span>
                <div style="display:table-cell;">
                    <div>
                        已收到打赏的
                        <a href="/FAQ/Money" data-toggle="tooltip" class="credit" title="" data-original-title="点击了解">
                            <span class="iconfont icon-money"></span> 帮帮币
                        </a>
                        ：
                    </div>
                    <div zyf-problem-donors-container="" class="clearfix">
                        <span zyf-article-donar="" class="pull-left" style="padding:5px 10px 0 0;">
                            <span>

                                <span data-toggle="tooltip" title="" data-original-title="">
                                    <a href="/User/4092" zyf-show-contact="4092" style=" color: black
">
                                        Saber
                                    </a>
                                </span>
                                <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="导师">
                                    <span>⑦</span>
                                </a>：<strong class="credit">1 </strong>枚
                            </span>
                        </span><span zyf-article-donar="" class="pull-left" style="padding:5px 10px 0 0;">
                            <span>

                                <span data-toggle="tooltip" title="" data-original-title="">
                                    <a href="/User/4101" zyf-show-contact="4101" style="color:black">
                                        zsedcftg12
                                    </a>
                                </span>
                                <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="中级学徒">
                                    <span>②</span>
                                </a>：<strong class="credit">3 </strong>枚
                            </span>
                        </span><span zyf-article-donar="" class="pull-left" style="padding:5px 10px 0 0;">
                            <span>

                                <span data-toggle="tooltip" title="" data-original-title="">
                                    <a href="/User/4256" zyf-show-contact="4256" style="color:black">
                                        1234_
                                    </a>
                                </span>
                                <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="中级学徒">
                                    <span>②</span>
                                </a>：<strong class="credit">2 </strong>枚
                            </span>
                        </span>
                    </div>
                </div>
                <hr>
                <div style="clear:both;" class="text-muted">
                    <span class="fa fa-info-circle"></span>
                    你的 <span class="credit">打赏</span> 非常重要！<br>
                    为了<a href="/FAQ/Article#grant">保证文章的质量</a>，每一篇文章的发布，都已经消耗了作者 1 枚
                    <a href="/FAQ/Money" data-toggle="tooltip" class="credit" title="" data-original-title="点击了解">
                        <span class="iconfont icon-money"></span> 帮帮币
                    </a>
                    。<br>
                    没有“帮帮币”，作者无法发布新的文章。
                </div>
            </div>
        </div>

        <div style="clear:both;">
            <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1610022143635"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
            <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
        </div>
    </div>

    <div style="margin-top:20px;">
        <div class="yellow-highlight" style="padding:5px 10px;">
            <a style="color:#354756" title="" data-toggle="tooltip" href="/FAQ/Ad#article" data-original-title="这是什么？">投稿人推广：</a> <a href="http://17bang.ren/Article/261">学编程，来 “源栈”！飞哥精品小班等着你……</a>
        </div>

    </div>
    <a name="new-comment"></a>
    <div style="padding-top:20px;">

        <div zyf-not-logon="" class="hide yellow-highlight need-login">
            <span class="fa fa-exclamation-triangle" style="color:yellowgreen;"></span>
            你还没有登录，不能进行相关操作。请<a href="/Log/On?prepage=%2fArticle%2f489">登录</a>或<a href="/Register/Home?prepage=%2fArticle%2f489">注册</a>。
            （<a href="/Shared/_JoinUs" class="small" zyf-why-joinus=""><span class="fa fa-question-circle"></span> 为什么要加入我们</a>）
        </div>
        <div zyf-logon="" class="">
            <h4>
                <span class="fa fa-send"></span> <label>我有话说：</label>
            </h4>

            <script src="/Scripts/kindeditor-v4.1/kindeditor.js"></script>
            <script src="/Scripts/kindeditor-v4.1/lang/zh_CN.js"></script>
            <script src="/Scripts/kindeditor.help.js"></script>
            <form action="/Article/489" method="post" novalidate="novalidate">
                <div zyf-comment-reply-reminder=""></div>
                <input data-val="true" data-val-number="字段 ReplyId 必须是一个数字。" id="CommentBody_ReplyId" name="CommentBody.ReplyId" type="hidden" value="" zyf-comment-reply-id=""><span class="field-validation-valid" data-valmsg-for="CommentBody.ReplyId" data-valmsg-replace="true"></span>    <div class="form-group">
                    <div class="ke-container ke-container-default" style="width: 100%;"><div style="display:block;" class="ke-toolbar" unselectable="on"><span class="ke-outline" data-name="source" title="HTML代码" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-source" unselectable="on"></span></span><span class="ke-inline-block ke-separator"></span><span class="ke-outline" data-name="formatblock" title="段落" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-formatblock" unselectable="on"></span></span><span class="ke-outline" data-name="fontsize" title="文字大小" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-fontsize" unselectable="on"></span></span><span class="ke-outline" data-name="bold" title="粗体(Ctrl+B)" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-bold" unselectable="on"></span></span><span class="ke-outline" data-name="italic" title="斜体(Ctrl+I)" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-italic" unselectable="on"></span></span><span class="ke-outline" data-name="underline" title="下划线(Ctrl+U)" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-underline" unselectable="on"></span></span><span class="ke-outline" data-name="strikethrough" title="删除线" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-strikethrough" unselectable="on"></span></span><span class="ke-outline" data-name="removeformat" title="删除格式" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-removeformat" unselectable="on"></span></span><span class="ke-inline-block ke-separator"></span><span class="ke-outline" data-name="table" title="表格" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-table" unselectable="on"></span></span><span class="ke-outline" data-name="insertorderedlist" title="编号" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-insertorderedlist" unselectable="on"></span></span><span class="ke-outline" data-name="insertunorderedlist" title="项目符号" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-insertunorderedlist" unselectable="on"></span></span><span class="ke-inline-block ke-separator"></span><span class="ke-outline" data-name="link" title="超级链接" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-link" unselectable="on"></span></span><span class="ke-outline" data-name="unlink" title="取消超级链接" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-unlink" unselectable="on"></span></span><span class="ke-inline-block ke-separator"></span><span class="ke-outline" data-name="code" title="插入程序代码" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-code" unselectable="on"></span></span><span class="ke-outline" data-name="quote" title="插入引用" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-quote" unselectable="on"></span></span><span class="ke-outline" data-name="image" title="图片" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-image" unselectable="on"></span></span><span class="ke-inline-block ke-separator"></span><span class="ke-outline" data-name="fullscreen" title="全屏显示(Esc)" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-fullscreen" unselectable="on"></span></span></div><div style="display: block; height: 100px;" class="ke-edit"><iframe class="ke-edit-iframe" hidefocus="true" frameborder="0" tabindex="" style="width: 100%; height: 100px;"></iframe><textarea class="ke-edit-textarea" hidefocus="true" tabindex="" style="width: 100%; height: 100px; display: none;"></textarea></div><div class="ke-statusbar"><span class="ke-inline-block ke-statusbar-center-icon"></span><span class="ke-inline-block ke-statusbar-right-icon"></span></div></div><textarea class="form-control" cols="20" data-val="true" data-val-required="* 正文不能为空" id="CommentBody_Content" name="CommentBody.Content" placeholder="精选评论有帮帮币奖励哟！O(∩_∩)O~" rows="4" zyf-kindeditor="" zyf-new-comment="" style="display: none;"></textarea>
                    <span class="field-validation-valid" data-valmsg-for="CommentBody.Content" data-valmsg-replace="true"></span>
                </div>
                <div zyf-logon="" class="submit">
                    <input type="submit" class="btn btn-primary" value="提交" zyf-problem-comment-submit="" zyf-submit-once="">
                    <input type="reset" class="btn btn-default">
                </div>

                <div zyf-not-logon="" class="hide yellow-highlight need-login">
                    <span class="fa fa-exclamation-triangle" style="color:yellowgreen;"></span>
                    你还没有登录，不能进行相关操作。请<a href="/Log/On?prepage=%2fArticle%2f489">登录</a>或<a href="/Register/Home?prepage=%2fArticle%2f489">注册</a>。
                    （<a href="/Shared/_JoinUs" class="small" zyf-why-joinus=""><span class="fa fa-question-circle"></span> 为什么要加入我们</a>）
                </div>
            </form>
            <script>
                $(document).ready(function () {

                    $("[zyf-problem-comment-submit]").on("click", function (event) {
                        event.preventDefault();
                        var $this = $(this),
                            $form = $this.parents("form")
                            ;
                        if ($form.valid()) {
                            $.ajax({
                                url: "/Article/489",
                                data: $form.serialize(),
                                method: "POST",
                                success: function (data) {
                                    showRemind('<p>' +
                                        '<span class="fa fa-check text-success" style="margin-right:10px;"></span>' +
                                        '<span>恭喜！评论发布成功。</span>' +
                                        '</p>');
                                    $("[zyf-new-comment]").val("");
                                    if (editor !== undefined) {
                                        editor.html("");
                                    }
                                    $("[zyf-comment-count]").text(
                                        parseInt($("[zyf-comment-count]").text()) + 1);

                                    $("[zyf-comment-reply-reminder]").html("");

                                    var $comment = $(data);
                                    //为自定义处理预留的函数
                                    if (typeof afterCommentSubmit !== "undefined" &&
                                        $.isFunction(afterCommentSubmit)) {
                                        afterCommentSubmit($comment, $this);
                                    }

                                    $("#published_comment").before($comment);

                                },
                                failed: JqueryAjaxError
                            })
                        }
                    })

                })
            </script>
        </div>
    </div>
    <div style="margin-top: 25px;">
        <div class="checkbox pull-left">
            <label>
                <input id="inCategory" name="inCategory" type="checkbox" value="true" zyf-nav-in-category=""><input name="inCategory" type="hidden" value="false">
                在系列 <a href="/Article/Category-74"><span class="fa fa-folder"></span> Javascript基础和JQuery</a>
                中的：
            </label>
        </div>
        <a class="btn btn-default btn-sm pull-right" href="/Article/Category-74?fulltext=1&amp;articleId=489">
            <span class="iconfont icon-pages"></span> 全系列阅读
        </a>
        <div zyf-article-nav-container="" style="clear:both; margin-bottom:20px; padding:10px 15px; border: 2px dashed #808080; border-radius:4px 5px;">
            <div>
                <span class="fa fa-arrow-up"></span>
                上一篇：
                <a href="/Article/488">为何公司宁愿给新人开高工资，却不愿意给知根知底的老员工涨薪？</a>

            </div>
            <div style="margin-top:6px;">
                <span class="fa fa-arrow-down"></span>
                下一篇：
                <a href="/Article/490">JavaScript：DOM元素增删改查</a>
            </div>
        </div>

    </div>
    <a name="comments"></a>
    <div class="appraise-status" style="clear:both; margin-top: 15px;">
        <span class="lead" style="margin-right:20px">
            <span class="fa fa-comments-o"></span>
            <span class="visible-sm-inline visible-md-inline visible-lg-inline">评论</span><small>
                （ <span zyf-comment-of-article-count="" title="" data-toggle="tooltip" data-original-title="精选评论">0</span> / <span title="" data-toggle="tooltip" data-original-title="全部评论">0</span> ）
            </small>
        </span>
    </div>
    <div zyf-comment-of-article="">
        <div id="published_comment"></div>
        <div zyf-comments-container="">
        </div>

    </div>


@section Description{







    <div zyf-widget-content="" class="widget clearfix">
        <h4>
            <span class="fa fa-folder text-primary"></span>
            <a href="/Article/Category-71">前端基础</a>
        </h4>
        <hr>
        <div style="margin-bottom:10px; padding-left: 40px;">
            <h4>
                <span class="fa fa-folder text-primary"></span>
                <a href="/Article/Category-73">HTML和CSS</a>
            </h4>
            <p>
                HTML最常用的标签和属性，含HTML5的语义标签和新属性，但不包含需要JavaScript操作的HTML5 API，以及CSS基础（简述CSS 3动画相关），以及bootstrap.js以外的Bootstrap的内容。
            </p>
        </div>
        <div style="margin-bottom:10px; padding-left: 40px;">
            <h4>
                <span class="fa fa-folder text-primary"></span>
                <a href="/Article/Category-74">Javascript基础和JQuery</a>
            </h4>
            <p>
                Javascript的基本语法，JQuery类库（含Ajax），以及Bootstrap的JavaScript组件部分
            </p>
        </div>
        <div style="margin-bottom:10px; padding-left: 40px;">
            <h4>
                <span class="fa fa-folder text-primary"></span>
                <a href="/Article/Category-84">进阶和ES6</a>
            </h4>
            <p>
                借助于ES6，讲解JavaScript中一些更复杂的语法特性，如作用域、闭包、面向对象、原型链、this变化、module等
            </p>
        </div>
        <a href="/Article" class="btn pull-right"><span class="fa fa-hand-o-right"></span> 全部</a>
    </div>

    <div zyf-widget-content="" class="widget clearfix">
        <div style="font-size:24px;"><span class="fa fa-tags "></span> 关键字</div>
        <hr>
        <div zyf-keyword-widget-content="">
            <div class="user-tags">
                <a zyf-keyword-widget-id="163" href="/Problem?keyword=163" data-toggle="tooltip" title="" data-original-title="已使用242次">
                    <span class="badge" style="font-size:21px; background-color:rgba(51, 51, 51, 0.96875)">
                        编程开发语言
                    </span>
                </a>
                <a zyf-keyword-widget-id="169" href="/Problem?keyword=169" data-toggle="tooltip" title="" data-original-title="已使用97次">
                    <span class="badge" style="font-size:20.5px; background-color:rgba(51, 51, 51, 0.9375)">
                        C#
                    </span>
                </a>
                <a zyf-keyword-widget-id="170" href="/Problem?keyword=170" data-toggle="tooltip" title="" data-original-title="已使用71次">
                    <span class="badge" style="font-size:20px; background-color:rgba(51, 51, 51, 0.90625)">
                        JAVA
                    </span>
                </a>
                <a zyf-keyword-widget-id="162" href="/Problem?keyword=162" data-toggle="tooltip" title="" data-original-title="已使用68次">
                    <span class="badge" style="font-size:19.5px; background-color:rgba(51, 51, 51, 0.875)">
                        工具软件
                    </span>
                </a>
                <a zyf-keyword-widget-id="171" href="/Problem?keyword=171" data-toggle="tooltip" title="" data-original-title="已使用55次">
                    <span class="badge" style="font-size:19px; background-color:rgba(51, 51, 51, 0.84375)">
                        Javascript
                    </span>
                </a>
                <a zyf-keyword-widget-id="164" href="/Problem?keyword=164" data-toggle="tooltip" title="" data-original-title="已使用55次">
                    <span class="badge" style="font-size:18.5px; background-color:rgba(51, 51, 51, 0.8125)">
                        顾问咨询
                    </span>
                </a>
                <a zyf-keyword-widget-id="199" href="/Problem?keyword=199" data-toggle="tooltip" title="" data-original-title="已使用32次">
                    <span class="badge" style="font-size:18px; background-color:rgba(51, 51, 51, 0.78125)">
                        html
                    </span>
                </a>
                <a zyf-keyword-widget-id="182" href="/Problem?keyword=182" data-toggle="tooltip" title="" data-original-title="已使用25次">
                    <span class="badge" style="font-size:17.5px; background-color:rgba(51, 51, 51, 0.75)">
                        VisualStudio
                    </span>
                </a>
                <a zyf-keyword-widget-id="161" href="/Problem?keyword=161" data-toggle="tooltip" title="" data-original-title="已使用24次">
                    <span class="badge" style="font-size:17px; background-color:rgba(51, 51, 51, 0.71875)">
                        操作系统
                    </span>
                </a>
                <a zyf-keyword-widget-id="184" href="/Problem?keyword=184" data-toggle="tooltip" title="" data-original-title="已使用19次">
                    <span class="badge" style="font-size:16.5px; background-color:rgba(51, 51, 51, 0.6875)">
                        职场
                    </span>
                </a>
                <a zyf-keyword-widget-id="174" href="/Problem?keyword=174" data-toggle="tooltip" title="" data-original-title="已使用18次">
                    <span class="badge" style="font-size:16px; background-color:rgba(51, 51, 51, 0.65625)">
                        SQL
                    </span>
                </a>
                <a zyf-keyword-widget-id="188" href="/Problem?keyword=188" data-toggle="tooltip" title="" data-original-title="已使用18次">
                    <span class="badge" style="font-size:15.5px; background-color:rgba(51, 51, 51, 0.625)">
                        法律
                    </span>
                </a>
                <a zyf-keyword-widget-id="173" href="/Problem?keyword=173" data-toggle="tooltip" title="" data-original-title="已使用18次">
                    <span class="badge" style="font-size:15px; background-color:rgba(51, 51, 51, 0.59375)">
                        Python
                    </span>
                </a>
                <a zyf-keyword-widget-id="89" href="/Problem?keyword=89" data-toggle="tooltip" title="" data-original-title="已使用14次">
                    <span class="badge" style="font-size:14.5px; background-color:rgba(51, 51, 51, 0.5625)">
                        .net
                    </span>
                </a>
                <a zyf-keyword-widget-id="200" href="/Problem?keyword=200" data-toggle="tooltip" title="" data-original-title="已使用13次">
                    <span class="badge" style="font-size:14px; background-color:rgba(51, 51, 51, 0.53125)">
                        CSS
                    </span>
                </a>
                <a zyf-keyword-widget-id="167" href="/Problem?keyword=167" data-toggle="tooltip" title="" data-original-title="已使用12次">
                    <span class="badge" style="font-size:13.5px; background-color:rgba(51, 51, 51, 0.5)">
                        Linux
                    </span>
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="直接输入关键字查找" zyf-keyword-widget-search-value="">
                    <span class="input-group-addon" zyf-keyword-widget-search-btn=""><span class="fa fa-search"></span></span>
                </div>

            </div>
            <div class="col-sm-4">
                <a href="" class="btn btn-default" zyf-keyword-widget-another="1">
                    <span class="fa fa-random"></span>
                    <span style="margin-left:5px;">换一批</span>
                </a>
            </div>
        </div>
    </div>
    <div zyf-widget-content="" class="clearfix" style="margin-bottom:30px;">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified nav-tabs-colored" role="tablist">
            <li role="presentation">
                <a href="#planscan" aria-controls="profile" role="tab" data-toggle="tab">
                    <span class="fa fa-eye"></span> 每日督促
                </a>
            </li>
            <li role="presentation" class="active">
                <a href="#contribute" aria-controls="messages" role="tab" data-toggle="tab" style="color:red;">
                    <span class="fa fa-heart"></span> 排行榜
                </a>
            </li>
            <li role="presentation">
                <a href="#register" aria-controls="home" role="tab" data-toggle="tab">
                    <span class="fa fa-user-circle-o"></span> 新注册
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="planscan">
                <table class="table-none-border">
                    <tbody>
                        <tr>
                            <td colspan="2" style="font-size:18px"><span class="fa fa-calendar-check-o fa-fw"></span> 2021年01月06日</td>
                        </tr>
                        <tr>
                            <th>共扫描目标：</th>
                            <td><span class="fa fa-flag-o fa-fw"></span> 8 个</td>
                        </tr>
                        <tr>
                            <th>当天休息：</th>
                            <td><span class="fa fa-ban fa-fw text-muted"></span> 7 人</td>
                        </tr>
                        <tr>
                            <th>已交作业：</th>
                            <td><span class="fa fa-check text-success fa-fw"></span> 0 份</td>
                        </tr>
                        <tr>
                            <th>请假：</th>
                            <td><span class="fa fa-coffee fa-fw"></span>  0 人</td>
                        </tr>
                        <tr>
                            <th>未交作业：</th>
                            <td><a zyf-task-not-complete=""><span class="fa fa-remove fa-fw"></span> 1 人</a></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane active" id="contribute">
                <table class="table-none-border order-list">
                    <tbody>

                        <tr zyf-user-most-order="1">
                            <td style="width: 40px;"><span class="order-tag item-1">1</span></td>
                            <td>


                                <span data-toggle="tooltip" title="" data-original-title="捐赠 5">
                                    <a href="/User/1" zyf-show-contact="1" style="color:#DCB962">
                                        叶飞
                                    </a>
                                </span>
                                <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="大宗师">
                                    <span>⑩</span>
                                </a>
                            </td>
                            <td>290</td>
                        </tr>
                        <tr zyf-user-most-order="2">
                            <td style="width: 40px;"><span class="order-tag item-2">2</span></td>
                            <td>


                                <span data-toggle="tooltip" title="" data-original-title="">
                                    <a href="/User/4269" zyf-show-contact="4269" style="color:black">
                                        Y123
                                    </a>
                                </span>
                                <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="中级学徒">
                                    <span>②</span>
                                </a>
                            </td>
                            <td>30</td>
                        </tr>
                        <tr zyf-user-most-order="3">
                            <td style="width: 40px;"><span class="order-tag item-3">3</span></td>
                            <td>


                                <span data-toggle="tooltip" title="" data-original-title="">
                                    <a href="/User/4530" zyf-show-contact="4530" style="color:black">
                                        tstudio
                                    </a>
                                </span>
                                <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="初级学徒">
                                    <span>①</span>
                                </a>
                            </td>
                            <td>20</td>
                        </tr>
                        <tr zyf-user-most-order="4">
                            <td style="width: 40px;"><span class="order-tag item">4</span></td>
                            <td>


                                <span data-toggle="tooltip" title="" data-original-title="捐赠 1000">
                                    <a href="/User/4280" zyf-show-contact="4280" style="color:#DCB962">
                                        阿泰12
                                    </a>
                                </span>
                                <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="高级学徒">
                                    <span>③</span>
                                </a>
                            </td>
                            <td>10</td>
                        </tr>
                        <tr zyf-user-most-order="5">
                            <td style="width: 40px;"><span class="order-tag item">5</span></td>
                            <td>


                                <span data-toggle="tooltip" title="" data-original-title="">
                                    <a href="/User/4529" zyf-show-contact="4529" style="color:black">
                                        附属金卡
                                    </a>
                                </span>
                                <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="初级学徒">
                                    <span>①</span>
                                </a>
                            </td>
                            <td>10</td>
                        </tr>
                    </tbody>
                </table>


                <div zyf-user-widget-most-contribute="" class="clearfix" style="padding-top:10px;">
                    <a href="/User/MyMost?on=Contribute" class="btn pull-right">
                        <span class="fa fa-hand-o-right"></span> 我的排名
                    </a>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="register">
                <div style="margin-bottom:10px;">
                    <small class="text-muted" zyf-datetime="">
                        <span>
                            <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2021年01月07日 19点25分</span>
                        </span>
                    </small>

                    <div>


                        <span data-toggle="tooltip" title="">
                            <a href="/User/4531" zyf-show-contact="4531" style="color:black">
                                uao
                            </a>
                        </span>
                        <a href="/FAQ/Credit#" data-toggle="tooltip" title="初级学徒" class="text-muted" style="position:relative; top:-1px;">
                            <span>①</span>
                        </a>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div style="margin-bottom:10px;">
                    <small class="text-muted" zyf-datetime="">
                        <span>
                            <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2021年01月04日 10点42分</span>
                        </span>
                    </small>

                    <div>


                        <span data-toggle="tooltip" title="">
                            <a href="/User/4530" zyf-show-contact="4530" style="color:black">
                                tstudio
                            </a>
                        </span>
                        <a href="/FAQ/Credit#" data-toggle="tooltip" title="初级学徒" class="text-muted" style="position:relative; top:-1px;">
                            <span>①</span>
                        </a>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div style="margin-bottom:10px;">
                    <small class="text-muted" zyf-datetime="">
                        <span>
                            <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2021年01月02日 20点10分</span>
                        </span>
                    </small>

                    <div>


                        <span data-toggle="tooltip" title="">
                            <a href="/User/4529" zyf-show-contact="4529" style="color:black">
                                附属金卡
                            </a>
                        </span>
                        <a href="/FAQ/Credit#" data-toggle="tooltip" title="初级学徒" class="text-muted" style="position:relative; top:-1px;">
                            <span>①</span>
                        </a>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div style="margin-bottom:10px;">
                    <small class="text-muted" zyf-datetime="">
                        <span>
                            <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2020年12月30日 10点20分</span>
                        </span>
                    </small>

                    <div>


                        <span data-toggle="tooltip" title="">
                            <a href="/User/4528" zyf-show-contact="4528" style="color:black">
                                tbwlovelyy
                            </a>
                        </span>
                        <a href="/FAQ/Credit#" data-toggle="tooltip" title="初级学徒" class="text-muted" style="position:relative; top:-1px;">
                            <span>①</span>
                        </a>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div style="margin-bottom:10px;">
                    <small class="text-muted" zyf-datetime="">
                        <span>
                            <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2020年12月28日 11点07分</span>
                        </span>
                    </small>

                    <div>


                        <span data-toggle="tooltip" title="">
                            <a href="/User/4527" zyf-show-contact="4527" style="color:black">
                                xgm200688
                            </a>
                        </span>
                        <a href="/FAQ/Credit#" data-toggle="tooltip" title="初级学徒" class="text-muted" style="position:relative; top:-1px;">
                            <span>①</span>
                        </a>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="clearfix">
                    <a href="/User/Index" class="btn pull-right"><span class="fa fa-hand-o-right"></span> 更多</a>
                </div>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/PlanScan/_DailyResult",
                success: function (data) {
                    var $data = $(data);
                    //显示未交作业的详情
                    $data.find("[zyf-task-not-complete]").click(function () {
                        if (!isAdmin()) {
                            showRemind(getWarningIcon() + ' 涉及个人隐私，只有管理员才有权查看。')
                            return false;
                        } else {
                            $.ajax({
                                url: "/PlanScan/_GetAllNotComplete",
                                success: function (data) {
                                    var title = '<span class="iconfont icon-money-bag"></span> 昨日全部未交作业';
                                    showModal(title, data);
                                },
                                error: JqueryAjaxError
                            })
                        }
                    })
                    $("#planscan").html($data);
                },
                error: JqueryAjaxError
            })
            $.ajax({
                url: "/User/_WidgetRegister",
                success: function (data) {
                    $("#register").html(data);
                },
                error: JqueryAjaxError
            })
        })
    </script>

    <div zyf-widget-content="" class="widget clearfix">
        <div class="ad-in-widget order-list">
            <span class="item-1 order-tag">1</span>
            <a href="http://17bang.ren/Article/261">学编程，来 “源栈”！飞哥精品小班等着你……</a>
        </div>
        <div class="ad-in-widget order-list">
            <span class="item-2 order-tag">2</span>
            <a href="/AdInWidget/_Free?position=2" zyf-adinwidget-free="" class="text-warning">免费广告位，抢到就是赚到！</a>
        </div>
        <div class="ad-in-widget order-list">
            <span class="item-3 order-tag">3</span>
            <a href="/AdInWidget/_Free?position=3" zyf-adinwidget-free="" class="text-warning">免费广告位，抢到就是赚到！</a>
        </div>
        <div class="ad-in-widget order-list">
            <span class="item order-tag">4</span>
            <a href="/AdInWidget/_Free?position=4" zyf-adinwidget-free="" class="text-warning">免费广告位，抢到就是赚到！</a>
        </div>
        <div class="ad-in-widget order-list">
            <span class="item order-tag">5</span>
            <a href="/AdInWidget/_Free?position=5" zyf-adinwidget-free="" class="text-warning">免费广告位，抢到就是赚到！</a>
        </div>
        <div class="ad-in-widget order-list">
            <span class="item order-tag">6</span> 本站主机由<a href="http://www.west.cn/index.asp?ReferenceID=563969">西部数码</a>提供
        </div>
        <a href="/AdInWidget/Write" class="pull-right text-muted">
            <small zyf-ad-in-widget-remind="">
                <span class="fa fa-buysellads"></span> 广告
                <span zyf-ad-in-widget-remind-suffix="" class="hide">，你也可以发布哟！</span>
            </small>
        </a>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" zyf-adinwidget-free-modal="">
    </div><!-- /.modal -->
    <script>
        $(document).ready(function () {
            var $freeAdInWidget = $("[zyf-adInWidget-free]"),
                warningClassName = "text-warning";

            setInterval(function () {
                if ($freeAdInWidget.hasClass(warningClassName)) {
                    $freeAdInWidget.removeClass(warningClassName);
                } else {
                    $freeAdInWidget.addClass(warningClassName);
                }
            }, 500)

            $("[zyf-adInWidget-free]").click(function (event) {
                event.preventDefault();
                if (isVisitor()) {
                    showRemind(getWarningIcon() + " 访客不能申请该免费广告位。" + needLogonRemind());
                    return false;
                }
                var $this = $(this),
                    $modal = $("[zyf-adInWidget-free-modal]");
                $.ajax({
                    url: $this.attr("href"),
                    success: function (data) {
                        $modal.modal("show");
                        var $data = $(data);
                        $data.find("[zyf-adInWidget-free-parentUrl]").val(location.href);
                        $data.find("[zyf-ad-content-edit]").change(modifeAdContent);
                        $data.find("[zyf-ad-in-widget-history-select]").change(showAdContent);
                        $.validator.unobtrusive.parse($data.find("form"));
                        $modal.html($data);
                    }
                })
            })
        })
    </script>
}
